In [17]:
# Load all necessary packages
import sys
sys.path.append("../")
from collections import OrderedDict
import json
from pprint import pprint
from aif360.datasets import GermanDataset
from aif360.metrics import BinaryLabelDatasetMetric,DatasetMetric
from aif360.explainers import MetricTextExplainer, MetricJSONExplainer
from IPython.display import JSON, display_json

##### Load dataset

In [2]:
import pandas as pd

In [3]:
d=pd.read_csv('salary_data_michelle.csv')

In [12]:
d[0:5]

         salary  experience  gender
0  51494.981021   10.337294     1.0
1  27635.274358    6.078640     1.0
2  29303.546835    8.730298     0.0
3  20326.576332    3.871194     0.0
4  44990.474458   10.137524     1.0

In [8]:
del d['Unnamed: 0']

In [22]:
#data = pd.get_dummies(d, drop_first=True)

In [14]:
d[0:5]

         salary  experience  gender
0  51494.981021   10.337294     1.0
1  27635.274358    6.078640     1.0
2  29303.546835    8.730298     0.0
3  20326.576332    3.871194     0.0
4  44990.474458   10.137524     1.0

In [16]:
import sys
sys.path.append("../")
from aif360.datasets import StructuredDataset,BinaryLabelDataset
aif_data=StructuredDataset(d,label_names=['salary','experience','gender'],protected_attribute_names=['gender'])

WARNING:root:'scores' has no well-defined meaning out of range [0, 1].

In [47]:
#data['Result']=data['gender_male']

In [53]:
aif_data1=BinaryLabelDataset(favorable_label=1,unfavorable_label=0,df=data,label_names=['Result'],protected_attribute_names=['gender_male'])

##### Create metrics

In [3]:
priv = [{'sex': 1}]
unpriv = [{'sex': 0}]
bldm = BinaryLabelDatasetMetric(gd, unprivileged_groups=unpriv, privileged_groups=priv)

In [30]:
from aif360.metrics import DatasetMetric

In [19]:
priv = [{'gender': 1}]
unpriv = [{'gender': 0}]
#bldm = BinaryLabelDatasetMetric(aif_data1, unprivileged_groups=unpriv, privileged_groups=priv)
dm=DatasetMetric(aif_data,unprivileged_groups=unpriv,privileged_groups=priv)

In [23]:
dm.num_instances(privileged=False)

10000.0

##### Create explainers

In [24]:
text_expl = MetricTextExplainer(dm)
json_expl = MetricJSONExplainer(dm)

In [25]:
text_expl.num_instances()

'Number of instances: 50000.0'

In [31]:
text_expl()

##### Text explanations

In [59]:
print(text_expl.num_positives())

Number of positive-outcome instances: 40000.0

In [60]:
print(text_expl.mean_difference())

Mean difference (mean label value on privileged instances - mean label value on unprivileged instances): -1.0

In [61]:
print(text_expl.disparate_impact())

Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.0

In [ ]:
print()

##### JSON Explanations

In [62]:
def format_json(json_str):
    return json.dumps(json.loads(json_str, object_pairs_hook=OrderedDict), indent=2)

In [63]:
print(format_json(json_expl.num_positives()))

{
  "metric": "Number Of Positives",
  "message": "Number of positive-outcome instances: 40000.0",
  "numPositives": 40000.0,
  "description": "Computed as the number of positive instances for the given (privileged or unprivileged) group.",
  "ideal": "The ideal value of this metric lies in the total number of positive instances made available"
}

In [64]:
print(format_json(json_expl.mean_difference()))

{
  "metric": "Mean Difference",
  "message": "Mean difference (mean label value on privileged instances - mean label value on unprivileged instances): -1.0",
  "numPositivesUnprivileged": 0.0,
  "numInstancesUnprivileged": 10000.0,
  "numPositivesPrivileged": 40000.0,
  "numInstancesPrivileged": 40000.0,
  "description": "Computed as the difference of the rate of favorable outcomes received by the unprivileged group to the privileged group.",
  "ideal": "The ideal value of this metric is 0.0"
}

In [65]:
print(format_json(json_expl.disparate_impact()))

{
  "metric": "Disparate Impact",
  "message": "Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.0",
  "numPositivePredictionsUnprivileged": 0.0,
  "numUnprivileged": 10000.0,
  "numPositivePredictionsPrivileged": 40000.0,
  "numPrivileged": 40000.0,
  "description": "Computed as the ratio of rate of favorable outcome for the unprivileged group to that of the privileged group.",
  "ideal": "The ideal value of this metric is 1.0 A value < 1 implies higher benefit for the privileged group and a value >1 implies a higher benefit for the unprivileged group."
}